* {
  margin: 0;
}

body {
  /* ff 3.6+ */
  background: -moz-linear-gradient(
    0deg,
    rgba(28, 13, 81, 1) 0%,
    rgba(182, 100, 121, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    0deg,
    rgba(28, 13, 81, 1) 0%,
    rgba(182, 100, 121, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    0deg,
    rgba(28, 13, 81, 1) 0%,
    rgba(182, 100, 121, 1) 100%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1C0D51', endColorstr='#B66479', GradientType=1 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    0deg,
    rgba(28, 13, 81, 1) 0%,
    rgba(182, 100, 121, 1) 100%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    0deg,
    rgba(28, 13, 81, 1) 0%,
    rgba(182, 100, 121, 1) 100%
  );
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  /* position: relative; */
}

section {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  z-index: -1;
  /* position: relative; */
  /* background-image: url("./assets/digital-art-mountains-moon-forest.jpeg");
} */
}
.cool {
  position: absolute;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.container {
  position: absolute;
  display: flex;
  height: 60vh;
  width: 30vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: -moz-linear-gradient(
    0deg,
    rgba(19, 5, 68, 1) 0%,
    rgba(71, 39, 47, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    0deg,
    rgba(19, 5, 68, 1) 0%,
    rgba(71, 39, 47, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    0deg,
    rgba(19, 5, 68, 1) 0%,
    rgba(71, 39, 47, 1) 100%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#130544', endColorstr='#47272F', GradientType=1 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    0deg,
    rgba(19, 5, 68, 1) 0%,
    rgba(71, 39, 47, 1) 100%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    0deg,
    rgba(19, 5, 68, 1) 0%,
    rgba(71, 39, 47, 1) 100%
  );

  border-radius: 40px;
  color: rgb(233, 233, 233);
  background-image: url("./assets/mountains-moon-trees-minimalism-hd-800x1280.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

.top-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 5;
  font-family: cursive;
  font-weight: 200;
}

.top-div h1 {
  font-size: 80px;
  z-index: 5;
}
.info-div {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: end;
  align-items: flex-end;
  align-content: flex-end;
  padding: 20px;
  padding-right: 30px;
  padding-left: 30px;
  z-index: 5;
  backdrop-filter: blur(5px);
}

.bottom-div {
  display: flex;
  flex-direction: row;

  height: 100%;
  width: 100%;
  z-index: 5;
}
.info-div p {
  padding: 1px;
}
.future {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
  align-items: center;
}

.future1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-top: 20px;
  align-items: center;
}
.line {
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.276);
}

.small-text {
  align-items: center;
}
.fade {
  color: rgba(255, 255, 255, 0.575);
}
